<article class="card mt-2">
    <div class="card-header">
        <h4>ShortCut</h4>
    </div>
    <div class="card.body">
        <p>{{item.origin}}</p>
        <p>{{item.shortURL}}</p>
        <div class=" d-flex justify-content-end  mb-2">
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-warning">Edit</a>
            <a href="#" class="btn btn-info">Save</a>
    </div>
        </div>
</article>